<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="alert">
    <h3 class="alert_text">New comment on liked post: The world is on fire</h3>
    <p class="alert_text">John: This post is awesome.</p>
    <div class="button-container">
        <span class="closebtn" onclick="this.parentElement.parentElement.style.animation = 'slideOutToBottom 0.5s forwards'; setTimeout(() => {this.parentElement.parentElement.style.display = 'none';}, 500);">&times;</span>
    </div>
</div>
</body>
</html>
